//heart
.x-tab .x-button-icon.heart:before,.x-button .x-button-icon.heart:before{position:absolute;top:0;right:0;bottom:0;left:0;text-align:center;font-family:"pictos";content:"k";font-size: 1.3em;line-height: 1.3em;}

//cart
.x-tab .x-button-icon.cart:before,.x-button .x-button-icon.cart:before{position:absolute;top:0;right:0;bottom:0;left:0;text-align:center;font-family:"pictos";content:"$";font-size: 30px;line-height: 30px;}

//pulse
.x-tab .x-button-icon.pulse:before,.x-button .x-button-icon.pulse:before{position:absolute;top:0;right:0;bottom:0;left:0;text-align:center;font-family:"pictos";content:"Y";font-size: 1.3em;line-height: 1.3em;}

//tag
.x-tab .x-button-icon.tag:before,.x-button .x-button-icon.tag:before{position:absolute;top:0;right:0;bottom:0;left:0;text-align:center;font-family:"pictos";content:"z";font-size: 1.3em;line-height: 1.3em;}